.navbar-dark,
.sidebar-dark {
    background-color: #1c3142;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.custom-nav {
    border-right: 1px solid #fff;
}

.custom-nav i {
    font-size: 18px;
}

#Page_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: #1c3142;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}
